.css-hyum1k-MuiToolbar-root {
  background: #03045e;
}
.css-1f2xuhi-MuiDrawer-docked .MuiDrawer-paper {
  background: rgb(164 58 248 / 9%);
}

.css-cveggr-MuiListItemIcon-root i {
  color: #03045e;
}

.css-tlelie-MuiListItemText-root span {
  color: #03045e;
}

// .css-9mgopn-MuiDivider-root {
//     border: 1px solid #03045e !important;
//     box-shadow: 1px 0px 0px 2px #00b4d8;
// }
